<%= render 'levels/breadcrumb', { level: @level } %>
<h1>Parties for <%= @level.name %></h1>
<ul>
<% @parties.each do |party|
  %><%= render 'list_item', { party: party, user: @user } %>
<%
end
%></ul>
<%
if @user && @user.authority_for_area(Party.authority_area, :can_create)
  %><p class="actions"><%= link_to 'New Party', new_level_party_path(@level), class: 'action' %></p>
<%
end -%>
