<%= link_to image_tag('/icon/site/facebook.png', :alt => ' ', :size => '16x16') + ' Sign in with Facebook'.html_safe, '/auth/facebook', :class => 'button' %><span class="separator">.</span>
<%= link_to image_tag('/icon/site/twitter.png', :alt => ' ', :size => '16x16') + ' Sign in with Twitter'.html_safe, '/auth/twitter', :class => 'button' %><span class="separator">.</span>
