<li><%= link_to ' Sign in with Facebook', '/auth/facebook', class: 'facebook' %><%= separator('.') %></li>
<li><%= link_to ' Sign in with Twitter', '/auth/twitter', class: 'twitter-sign' %><%= separator('.') %></li>
