.bundle
.DS_Store
.sass-cache/*
Capfile
config/database.yml
config/amazon_s3.yml
config/deploy.rb
config/initializers/cookie_verification_secret.rb
config/initializers/oauth_consumers.rb
config/initializers/omniauth.rb
config/initializers/secret_token.rb
coverage/*
coverage.data
db/*.sqlite3
db/*.sqlite3-journal
db/development_structure.sql
log/*.log
public/cache/**/*
public/ckeditor/_samples/*
public/ckeditor/_source/*
public/ckeditor/*.asp
public/ckeditor/*.php
public/**/all.*
rails_best_practices_output.html
rerun.txt
tmp/*
tmp/**/*
webrat*.*
(*)/*
*.tmproj