body{background:#EEEEEE; color:black; font-size:10pt;}
a:link{color:#009;}
a:visited{color:#606;}
a:link:hover, a:visited:hover{background:rgba(255,255,0,0.2); color:#00F; text-decoration:none;}
a:link:active, a:visited:active{color:red;}

.error_messages{background:rgba(255,128,128,0.5); color:black; margin:1em auto; padding:0.5em 1em;}
.field_with_errors{display:inline;}
.field_with_errors > input{outline:2px solid #900;}
.field_with_errors > label{color:#900;}
.charcounter{}
.charcounter_warn{font-weight:bold; background:yellow;}
.charcounter_over{font-weight:bold; background:yellow; color:red;}
a.ics:before{content:url('../icon/file/ics.png'); padding-right:0.3em;}
a.ics{text-decoration:none;}

/* actions */
.actions{background:#CCC; color:black; padding:0.2em 0.4em; margin:0.5em 0em;}
#footer .actions{background:transparent;}
.action, .action:link, .action:visited{background:#999;
background:-webkit-gradient(linear, center top, center bottom, from(#545454), color-stop(0.5, #808080), to(#545454));
background:-moz-linear-gradient(top, #545454, #808080 50%, #545454);
background:linear-gradient(top, #545454, #808080 50%, #545454);
color:white; text-decoration:none; border-radius:0.15em; display:inline; margin:0em 0.25em; padding:0.15em 0.6em; font-size:1.1em; font-weight:bold; text-shadow:0em 0em 0.1em black; line-height:1.6em; white-space:nowrap; vertical-align:middle;}
.action:hover, .action:link:hover, .action:visited:hover{background:blue; color:white;
background:-webkit-gradient(linear, center top, center bottom, from(#007ba8), color-stop(0.5, #0BF), to(#007ba8));
background:-moz-linear-gradient(top, #007ba8, #0BF 50%, #007ba8);
background:linear-gradient(top, #007ba8, #0BF 50%, #007ba8);
}
.action:active, .action:link:active, .action:visited:active{background:red; color:white;
background:-webkit-gradient(linear, center top, center bottom, from(#800), color-stop(0.5, #F00), to(#800));
background:-moz-linear-gradient(top, #800, #F00 50%, #800);
background:linear-gradient(top, #800, #F00 50%, #800);
}

/* link list */
.links{margin:0em; padding:0em; list-style-type:none; font-weight:bold;}
.links > li{display:inline; margin:0em 0.5em; padding:0em; line-height:2.25em;}
.links > li > a{background:white; color:#006; text-decoration:none; padding:0.2em 0.5em; white-space:nowrap;}
.links > li > a:hover{background:#FFC; color:#06F;}
.links > li > a:active{background:#FF0; color:red;}

.wysiwygeditor{clear:both; background:white; color:black; margin:0em; padding:0em 0em 1.25em;}
.wysiwygeditor{padding:1.25em;}

#header{background:rgba(0,0,0,0.66);
background:-webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.8)), color-stop(0.2, rgba(0,0,0,0.66)), to(rgba(0,0,0,0.66)));
background:-moz-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.66));
background:linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.66));
color:white; margin:0em; padding:1.25em 1.25em 0.75em; z-index:1;}
#header h1{font-weight:bold; text-shadow:0em 0em 0.072em black; z-index:2;}
#header h1 a{background:transparent; color:white; text-decoration:none;}
#header h1 a:hover{color:#CCF; text-shadow:0.04em 0.04em 0.072em #006;}
#header h1 a:active{color:#FCC; text-shadow:-0.04em -0.04em 0.04em #900;}
@media all and (min-width: 400px) {
#header{padding-top:1.75em;}
}
#usermenu{margin:0.5em 0em 0em; padding:0em 0em; background:rgba(255,255,255,0.2); color:white; line-height:1.5em; list-style-type:none; z-index:3;}
#usermenu > li{font-size:0.9em; line-height:1.5em; margin:0em; padding:0.2778em 0.5556em; white-space:nowrap; z-index:4;}
#usermenu > li + li{border-top:thin solid black;}
#usermenu > li:hover{background:rgba(0,187,255,0.5);}
#usermenu > li:active{background:rgba(255,0,0,0.5);}
#usermenu > li.text{background:rgba(0,0,0,0.5);}
#usermenu a{background:transparent; text-decoration:none; color:white;}
@media all and (min-width: 400px) {
#usermenu{position:absolute; top:0em; right:0em; margin:0em;}
#usermenu > li{display:inline;}
#usermenu > li + li{border-top:0px none; border-left:thin solid black;}
}

#globalsearch{position:relative; top:auto; right:auto;/* max-width:48.25em;*/ margin:0.75em 0em 0em; padding:0em 0em; text-align:right; z-index:8;}
#globalsearch > p{margin:0em;}
@media screen and (min-width:53em/*829px*/) {
#globalsearch{position:absolute; top:2.5em; right:1em; margin-top:0em; text-align:center;}
}

#navmenu{background:black; color:white; min-height:2em; list-style-type:none; padding:0em 1em;}
#navmenu > li{background:#808080;
background:-webkit-gradient(linear, center top, center bottom, from(#545454), color-stop(0.5, #808080), to(#545454));
background:-moz-linear-gradient(top, #545454, #808080 50%, #545454);
background:linear-gradient(top, #545454, #808080 50%, #545454);
-moz-border-radius:0.15em; border-radius:0.15em; display:inline; margin:0em 0.1em; padding:0.1em 0.4em; font-size:1.25em;/*20px*/ font-weight:bold; text-shadow:0em 0em 0.1em black; line-height:1.6em; white-space:nowrap; vertical-align:middle;}
#navmenu > li.current{background:#DDD; color:black; -moz-border-radius:0em; border-radius:0em; padding:0.2em 0.4em; text-shadow:0em 0em 0.1em white; border-bottom:thin solid white;
background:-webkit-gradient(linear, center top, center bottom, from(#BBB), color-stop(0.5, #EEE), to(white));
background:-moz-linear-gradient(top, #BBB, #EEE 50%, white);
background:linear-gradient(top, #BBB, #EEE 50%, white);
}
#navmenu > li > a{background:transparent; color:white; text-decoration:none;}
#navmenu > li.current > a{color:black;}
#navmenu > li:hover{background:blue; color:white;
background:-webkit-gradient(linear, center top, center bottom, from(#007ba8), color-stop(0.5, #0BF), to(#007ba8));
background:-moz-linear-gradient(top, #007ba8, #0BF 50%, #007ba8);
background:linear-gradient(top, #007ba8, #0BF 50%, #007ba8);
}
#navmenu > li.current:hover{border-bottom-color:#007ba8;}
#navmenu > li:active{background:red; color:white;
background:-webkit-gradient(linear, center top, center bottom, from(#800), color-stop(0.5, #F00), to(#800));
background:-moz-linear-gradient(top, #800, #F00 50%, #800);
background:linear-gradient(top, #800, #F00 50%, #800);
}
#navmenu > li.current:active{border-bottom-color:#800;}

#subnavmenu{background:#EEE; color:black; list-style-type:none; padding:0em 1em; min-height:1.5em; line-height:1.75em;
  background:-webkit-gradient(linear, center top, center bottom, from(white), color-stop(0.2, white), color-stop(0.8, #EEE), to(#DDD));
  background:-moz-linear-gradient(top, white, white 20%, #EEE 70%, #DDD);
  background:linear-gradient(top, white, white 20%, #EEE 70%, #DDD);
}
#subnavmenu > li{background:#DDD; font-weight:bold; -moz-border-radius:0.2em; border-radius:0.2em; display:inline; margin:0em 0.1em; padding:0.1em 0.4em; vertical-align:middle;}
#subnavmenu > li.current{background:white; -moz-border-radius:0em; border-radius:0em; padding:0.2em 0.4em; border-bottom:thin solid white; vertical-align:bottom; -moz-box-shadow:0px -2px 2px rgba(0,0,0,0.1); box-shadow:0px -2px 2px rgba(0,0,0,0.1);}
#subnavmenu > li > a{background:transparent; color:black; text-decoration:none;}
#subnavmenu > li:hover{background:blue; color:white;}
#subnavmenu > li:hover > a{color:white;}
#subnavmenu > li:active{background:red; color:white;}
#subnavmenu > li:active > a{color:white;}

#breadcrumb{background:white; border-bottom:thin solid #DDD; list-style-type:none; margin:0em; padding:0em 1.25em;
background:-webkit-gradient(linear, center top, center bottom, from(white), to(#EEE));
background:-moz-linear-gradient(top, white, #EEE);
background:linear-gradient(top, white, #EEE);
}
#breadcrumb > li{display:inline; font-size:0.85em; font-weight:bold; white-space:nowrap;}
#breadcrumb > li + li:before{content:'… ';}
#breadcrumb:after{content:':';}
#breadcrumb > li a{text-decoration:none;}

#flash{margin:0em; padding:0.75em 2.5em; background:white;
background:-webkit-gradient(linear, left top, right top, from(white), color-stop(0.5, #EEE), to(white));
background:-moz-linear-gradient(left, white, #EEE 50%, white);
background:linear-gradient(left, white, #EEE 50%, white);
}
#flash > *{background:#EEE; color:black; border-radius:0.75em; /*font-size:0.8125em;/*13px*/ line-height:1.4615em; max-width:49.2308em; margin-left:0em; margin-right:auto; padding:0.3077em 0.6154em;}
#flash .notice{background:#FFC; color:black; border:thin solid #CCC;}
#flash .alert{background:#FDD; color:#300; border:thin solid #F99;}

#main > .contentchunk, .contentchunk{
-moz-border-radius:0.3em; border-radius:0.3em;
-moz-box-shadow:0.25em 0.25em 0.4em rgba(0,0,0,0.2);
-webkit-box-shadow:0.25em 0.25em 0.4em rgba(0,0,0,0.2);
box-shadow:0.25em 0.25em 0.4em rgba(0,0,0,0.2);
}
#main > .contentchunk > .heading:first-child, .contentchunk > .heading:first-child{
background:#DDD; color:black;
-moz-border-radius-topleft:0.3em; border-top-left-radius:0.3em;
-moz-border-radius-topright:0.3em; border-top-right-radius:0.3em;
background:-webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0.2)), color-stop(0.25, rgba(0,0,0,0.1)), to(rgba(0,0,0,0.025)));
background:-moz-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.025));
background:linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.025));
text-shadow:-1px -1px 1px white;
}

#footer{
background:#CCC;
background:-webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.25)), color-stop(0.15, rgba(0,0,0,0.15)), to(rgba(0,0,0,0)));
background:-moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.15) 15%, rgba(0,0,0,0));
background:linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.15) 15%, rgba(0,0,0,0));
}
