body{font-size:11pt;}
*{background:transparent; color:black;}
li,p,td,th{font-family:Palatino,serif; line-height:1.5em;}
* + h1,* + h2,* + h3,* + h4,* + h5,* + h6,* + p,* + ol,* + ul{margin-top:0.5em;}
p, p + p{margin:0em; text-indent:1.75em;}
ol + *, ul + *{margin-top:0.5em;}
ol, ul{padding-left:1.75em;}
a:link, a:visited{text-decoration:none; border-bottom:thin dotted rgba(0,0,255,0.3);}
#header a, #footer a{border:0em none;}
#usermenu, #globalsearch, #navmenu, #breadcrumb, #about{display:none;}
#header, #header *{color:gray; text-align:right;}
#maintitle{font-size:2.95em; text-indent:0em;}
#maintitle:after{content:'.ca'; text-transform:lowercase;}
@media print and (max-width:23.125em/* 370px */) {#maintitle{font-size:2em;}}
#subtitle{text-indent:0em;}
#subtitle{font-size:1.1875em;}
#header{border-bottom:thin solid gray; padding-bottom:0.5em;}
#flash > *{background:#EEE; padding:0.5em 1em; border:thin dotted lightgray; border-radius:0.25em;}
#flash .notice{background:#FFE;}
#flash .alert{background:#FFF8F8;}
#footer{margin:2em 4em 0em; border-top:thin solid gray; padding:0.5em 1em 0em; font-size:80%;}
#footer *{text-indent:0em;}
.featureblock{border-top:2px solid lightgray; border-left:2px solid lightgray; padding:0.5em 0em 0em 1em; border-top-left-radius:0.5em; margin-top:1.5em;}
.featureblock > h1{margin:0em; padding:0em;}
.featureblock > h1 .subtext{display:block; font-size:90%;}
