<p>You’ll be taken to the remote service (i.e., Facebook or Twitter) where you can choose to authorize this website. We will not see your password. Instead, the remote service will send us a special token to authenticate that you are the user you say you are. Then you will be directed back to this website and signed-in here.</p>

<p>The information we receive, and record, about you from the remote service may include your:</p>
<ul>
<li>Name</li>
<li>Nickname, screen-name or Twitter “@” name</li>
<li>Avatar (picture)</li>
<li>Unique ID
<br />(not generally seen by users, this unique identifier never changes for your account, even if your other account details change)</li>
</ul>

<p>That information may be displayed publicly on this website if you post any content here. For more details, you can review our <a href="/privacy">Privacy Policy</a>.</p>
