<%
# Expects external_link, item and user to be set

%><li><%= link_to external_link.title, external_link.url, :class => "url #{(external_link.site)}".rstrip!, :target => '_blank' %><%
if external_link.has_authority_for_user_to?(user, :can_update) %>
<br /><%= link_to 'Edit', edit_event_external_link_path(item, external_link), :class => 'action' %><%
  if external_link.has_authority_for_user_to?(user, :can_delete) %>
<%= link_to 'Delete', delete_event_external_link_path(item, external_link), :confirm => 'Are you sure?', :method => :delete, :class => 'action' %><%
  end
end %></li>
