<h1>Delete “<%= link_to @external_link.descriptor, @external_link.items_for_path %>” External Link
<br />from <%= link_to @item.descriptor, @item.items_for_path %>?</h1>

<%= form_tag(@external_link.items_for_path, method: :delete) do %>
<p><%= submit_tag "Delete External Link" %></p>
<% end %>
