<h1>Editing External Link “<%= link_to @external_link.descriptor, @external_link.items_for_path %>”
<br />for <%= link_to @item.descriptor, @item.items_for_path %></h1>

<%= render 'form', { item: @item, external_link: @external_link } %>
