<%
external_link ||= @external_link
item ||= @item || external_link.item
user ||= @user

presenter = ExternalLinkPresenter.new(view: self, link: external_link, user: user)

-%>
<h1>External Link for <%= link_to item.descriptor, item.items_for_path %></h1>
<p><%= presenter.present_link %>
<br />URL: <%= external_link.url %><%
if external_link.site.present?
  %>
<br />Site: <%= external_link.site %><%
end
%></p>
<%

if user.present?
  if external_link.has_authority_for_user_to?(user, :can_update)
    add_submenu_item(title: 'Edit', path: ([:edit] + external_link.items_for_path))
  end
  if external_link.has_authority_for_user_to?(user, :can_delete)
    add_submenu_item(title: 'Delete', path: ([:delete] + external_link.items_for_path),
      attrs: { data: { confirm: 'Are you sure?' }, method: :delete, class: 'action' }
    )
  end
  if item.has_authority_for_user_to?(user, :can_create)
    add_submenu_item(title: 'Add Link', path: ([:new] + item.items_for_path + [:external_link]))
  end
end

-%>
