<%
require 'event_presenter'

# EXPECTS:
# events: an array (or ActiveRecord equivalent) of Event objects.
# user: the current user, if any

date_idx = nil
events.each do |event|
  # Show the date heading only before the first event listed on a given date
  event_start = event.start_at
  event_date = event_start.to_date
  if date_idx != event_date
    date_idx = event_date
    %><h3><%= event_start.to_s(:plain_date) %></h3>
<%
  end
  presenter = EventPresenter.new(view: self, event: event, user: user)
  %><%= presenter.present_in_list %><%
end -%>
