<%= render 'levels/breadcrumb', { level: @level } %>
<h1>Delete “<%= link_to @election.name, [@level, @election] %>” Election?</h1>

<%= form_tag([@level, @election], method: :delete) do %>
<p><%= submit_tag "Delete Election" %></p>
<% end %>
