<% # encoding: utf-8

%><h1>Delete Document “<%= @document.filename %>”?</h1>

<%= form_tag(delete_document_path(@document), :method => :delete) do %>
<p><%= submit_tag "Delete Document" %></p>
<% end %>
