@mixin border-radius($radius: 0em) {
  -moz-border-radius:$radius; -webkit-border-radius:$radius; border-radius:$radius;
}

$button_text_color: black;
$button_background_color: white;
$button_radius: 0.5em;
$button_border: thin solid #999;

// link buttons
@mixin buttonLinkStyle {
  background:$button_background_color; color:$button_text_color;
  &:hover{background:#CCC; color:blue;};
  &:active{background:blue; color:white;};
};

@mixin buttonListitemAnchor {
  @include buttonLinkStyle;
  display:block; width:100%; padding:0.5em;
  border:$button_border; border-top:0em none; @include border-radius(0em); box-shadow:none;
  font-weight:bold; text-decoration:none; text-shadow:none;
  &:hover{text-shadow:1px 1px 0em white;};
  &:active{text-shadow:-1px -1px 0em black;};
}

// link lists
@mixin buttonListitem {
  border:0px none; margin-top:0em; margin-bottom:0em; padding:0em; //width:100%;
  > a{
    @include buttonListitemAnchor;
  }
  &:first-child > a{
    border-top:$button_border;
    border-top-left-radius:$button_radius; border-top-right-radius:$button_radius;
  }
  &:last-child > a{
    border-bottom-left-radius:$button_radius; border-bottom-right-radius:$button_radius;
  }
}

// action buttons
@mixin buttonActionStyle {
  background:#476999; color:white;
  background:-webkit-gradient(linear, center top, center bottom, from(#8ca1be), color-stop(0.5, #5877a5), color-stop(0.5, #476999), to(#4a6c9a));
  background:-moz-linear-gradient(top, #8ca1be, #5877a5 50%, #476999 50%, #4a6c9a);
  background:linear-gradient(top, #8ca1be, #5877a5 50%, #476999 50%, #4a6c9a);
  box-shadow:inset 0px 0px 2px rgba(0,0,0,0.75); text-shadow:0em -1px 0.1em black;
  font-weight:bold; text-decoration:none;
  padding:0.15em 0.6em;
  vertical-align:middle;

  &:hover{
    background:#789aca; color:white;
    background:-webkit-gradient(linear, center top, center bottom, from(#bdd2ef), color-stop(0.5, #89a8d6), color-stop(0.5, #789aca), to(#7b9dcb));
    background:-moz-linear-gradient(top, #bdd2ef, #89a8d6 50%, #789aca 50%, #7b9dcb);
    background:linear-gradient(top, #bdd2ef, #89a8d6 50%, #789aca 50%, #7b9dcb);
  }
  &:active{
    background:#163868; color:white;
    background:-webkit-gradient(linear, center top, center bottom, from(#7b9dcb), color-stop(0.5, #274674), color-stop(0.5, #163868), to(#193b69));
    background:-moz-linear-gradient(top, #7b9dcb, #274674 50%, #163868 50%, #193b69);
    background:linear-gradient(top, #7b9dcb, #274674 50%, #163868 50%, #193b69);
  }
}

@mixin buttonActionFormat {
  @include border-radius(0.15em);
  display:inline; line-height:1.6em; margin:0em 0.25em; white-space:nowrap;
}
