body{background:#CCC url('/images/stripe.png'); color:black; -webkit-text-size-adjust:none;}

body > header{background:#666; background:-webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.8)), color-stop(0.2, rgba(0,0,0,0.66)), to(rgba(0,0,0,0.66))); background:-moz-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.66));
background:linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.66)); color:white; position:fixed; top:0; left:0; height:2em; z-index:100;}
body > header > h1 a{color:white; background:transparent; text-decoration:none;}
body > header > h1 a:hover{background:transparent; color:#CCF; text-shadow:1px 1px 0em #00F;}
body > header > h1 a:active{color:#FCC; text-shadow:-1px -1px 0em #900;}
body > header > #subtitle{margin:0.3em auto 0em 3em; padding:0.2em 0.4em; background:#FFC; color:black; display:none; font-weight:bold; max-width:28em;}
body > header > h1:hover + #subtitle{display:block;}

#usermenu{
  position:fixed; top:0; right:0;

  p{
    margin:0em; padding:0.5em; white-space:nowrap;
    font-size:0.9em; text-align:right;
    &:before{content:'<'; padding-right:0.5em; color:#CCC;}
  }
  &:hover p{background:rgba(0,0,0,0.5);}

  ul{
    display:none; list-style-type:none; margin:0em; padding:0.5em;
    background:#999; background:rgba(0,0,0,0.33);

    li{
      @include buttonListitem;
      a:before{content:'<'; padding-right:0.5em; color:#999;}
    }
  }
  &:hover ul, &.hover ul{display:block;}
}

nav{z-index:90; display:block; background:rgba(0,0,0,0.75); box-shadow:inset 0px 3px 4px rgba(0,0,0,0.25); margin:2em 0em 0em; padding:0em; line-height:2em; overflow:hidden; width:100%; box-shadow:0px 3px 2px rgba(0,0,0,0.1);}
nav.interactive{overflow:hidden; max-height:2em; white-space:nowrap; position:fixed; top:2em; left:0em; margin-top:0em; margin-right:2em;}
nav.interactive > ul > li.current{display:none;}
nav a{text-decoration:none; color:black;}
nav a:hover{color:blue;}
nav a:active{color:red;}
nav > p, nav li.current > a{font-weight:bold; @include border-radius(0em);}
nav > p{display:none; background:white; padding:0.4em 0.5em 0.5em; box-shadow:3px 0px 4px rgba(0,0,0,0.25); font-size:1em;}
nav > p:first-child{border-top-right-radius:0.5em;}
nav.interactive > p{display:inline;}
nav ul{display:inline; margin:0em; padding:0em; list-style-type:none; overflow:hidden;}
nav li{display:inline; margin:0em; padding:0em; white-space:nowrap; font-size:1em;}
nav li > a{@include buttonActionStyle; @include buttonActionFormat;}
nav li.more{display:none; background:white; margin:0em; padding:0em; line-height:2em; height:2em; width:2em; text-align:center; position:fixed; top:2em; right:0em; box-shadow:-3px 0px 2px rgba(0,0,0,0.25);}
nav.interactive li.more{display:block;}
nav .more:after{content:'>'; font-weight:bold;}
.more{@include buttonLinkStyle;}

nav.interactive.clicked{max-height:none; box-shadow:0px 4px 4px rgba(0,0,0,0.75); margin-right:1em; width:100%;}
nav.interactive.clicked > p, nav.interactive.clicked .more{box-shadow:none;}
nav.interactive.clicked > ul{
  display:block; background:rgba(255,255,255,0.1); clear:both; padding:0.5em;
}
nav.interactive.clicked > ul > li{
  @include buttonListitem;
  border:0px none;
  display:block; margin-right:0.5em; padding-right:0.5em;
}
nav.interactive.clicked > ul > li > a:after{content:'>'; float:right; padding-left:0.5em; color:#999;};
nav.interactive.clicked .more{padding:0em; margin:0em;}
nav.interactive.clicked .more:after{content:'v';}

#headerspace{display:none; margin:0em; padding:0em;}
nav.interactive + #headerspace{display:block; height:4em;}

// flash
#flash > p{background:#333; background:-webkit-gradient(linear, center top, center bottom, from(rgba(64,64,64,0.6)), color-stop(0.5, rgba(0,0,0,0.7)), to(rgba(0,0,0,0.9))); color:white; text-shadow:1px 1px 1px black;}
#flash > p.alert{background:#600; background:-webkit-gradient(linear, center top, center bottom, from(rgba(255,0,0,0.6)), color-stop(0.5, rgba(0,0,0,0.7)), to(rgba(0,0,0,0.9)));}

// breadcrumb
#breadcrumb{background:white; border-bottom:thin solid #DDD;
background:-webkit-gradient(linear, center top, center bottom, from(white), to(#EEE));
background:-moz-linear-gradient(top, white, #EEE);
background:linear-gradient(top, white, #EEE);
}

// sections
section{
  background:white; color:black;
  box-shadow:0px 4px 4px rgba(0,0,0,0.25);

  a:link{color:#009;}
  a:visited{color:#606;}
  a:link:hover, a:visited:hover{background:#FFC; background:rgba(255,255,0,0.2); color:#00F; text-decoration:none;}
  a:link:active, a:visited:active{color:red;}
}

#subnavmenu{position:fixed; bottom:0em; left:0em; margin:0em; padding:0em 0.5em; list-style-type:none; background:black; width:100%; height:2em; overflow:auto;/*white-space:nowrap;*/}
#subnavmenu li{line-height:2em; display:inline;}
#subnavmenu a{@include buttonActionStyle; @include buttonActionFormat; margin:0em;;}
#subnavmenu + footer{margin-bottom:2em;}

// actions
.actions{background:#DDD;
background:x-webkit-gradient(linear, center top, center bottom, from(#b4c0ce), color-stop(0.5, #8b9db5), color-stop(0.5, #8095b0), to(#6e83a2));
color:black; @include border-radius(0.3em); box-shadow:inset 0px 2px 6px rgba(0,0,0,0.2); padding:0.2em 0.5em; margin:0.5em 0em;}
.action, .action:link, .action:visited{@include buttonActionStyle; @include buttonActionFormat;}

// tables
table{background:#EEE; background:rgba(0,0,0,0.1);}
// tbody > tr:nth-child(odd){background:#EEE; color:black;}
// tbody > tr:nth-child(even){background:#DDD; color:black;}
tfoot, tfoot > tr{background:#CCC; color:black;}
td, th{
  background:-webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.2)), color-stop(0.1, rgba(255,255,255,0)), color-stop(0.9, rgba(0,0,0,0)), to(rgba(0,0,0,0.01)));
  background:-moz-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.01));
  background:linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.01));
}

// editor
.wysiwygeditor{clear:both; background:white; color:black; margin:0em; padding:1.25em;}


// changes as display area widens

// iphone horizontal (up to 480px)
//@media screen and (min-width:320px) {
//}

// up to 640px screen
@media screen and (min-width:481px) {
  body{-webkit-text-size-adjust:auto;}
  section > .actions{margin-left:-0.5em; margin-right:-0.5em;}
}

// up to 1024px screen
@media (min-width:641px) {
  #usermenu{display:block; width:auto; height:2em; vertical-align:middle; padding:0.25em;}
  #usermenu p{display:inline; width:auto; vertical-align:bottom;}
  #usermenu p:before{content:'Signed in as'; vertical-align:bottom;}
  #usermenu.signed-out p:before{content:'';}
  #usermenu:hover p{background:transparent;}
  #usermenu ul{display:inline; list-style-type:none; margin:0em; padding:0em; background:transparent; vertical-align:middle;}
  #usermenu:hover ul{display:inline;}
  #usermenu ul li{display:inline; width:auto; vertical-align:middle;}
  #usermenu ul li > a{display:inline; height:2em; border:0em none; border-left:thin solid black; background:rgba(255,255,255,0.2); color:inherit; width:auto; padding:0.4em 0.5em; margin:0.25em 0em; vertical-align:middle; white-space:nowrap; font-size:0.9em;}
  #usermenu ul li:first-child > a{border-top:0em none; @include border-radius(0em);}
  #usermenu ul li:last-child > a{@include border-radius(0em);}
  #usermenu ul li > a:before{content:''; padding-right:0em;}
  #usermenu ul li > a:hover{background:#DDD; color:#00C; text-shadow:0px 0px 0em white;}
  #usermenu ul li > a:active{background:#00F; color:white; text-shadow:-1px -1px 0em black;}
}

// wide display
//@media (min-width:1025px) {
//}
