// header
body > header{
  margin:0em; padding:0em; width:100%; vertical-align:bottom;
  > *{vertical-align:bottom; margin-top:0em;}
  > h1{
    font-size:1.25em; margin:0em; padding:0em 0em 0em 0.5em; max-height:100%;
    img{max-height:1.25em; vertical-align:bottom; border:0px none;}
  }
}

// flash
#flash{
  margin:0em; padding:0.5em;
  > p{
    font-size:1em; margin:0em; padding:0.75em; @include border-radius(0.25em); max-width:38em;
    + p{margin-top:0.5em;}
  }
}

#breadcrumb{
  list-style-type:none; margin:0em; padding:0em 1.25em;
  > li{
    display:inline; font-size:0.85em; white-space:nowrap;
    a{
      text-decoration:none;
    }
    + li:before{content:'... ';}
  }
  > li.highlight{
    font-weight:bold;
  }
  &:after{content:':';}
}

section{
  margin:0em; padding:1em 0.5em; max-width:43em;
  + section{border-top:thin solid #CCC; border-color:rgba(0,0,0,0.15); margin-top:0em; padding-top:0.5em;}
  > header + *{margin-top:0.5em;}
  > .actions:last-child{margin-bottom:-0.5em;}
}

footer{
  padding:1em 2em; clear:both;
  > p{
    margin:0em; font-size:0.7em;
    + p{margin-top:0.5em;}
  }
  .actions{background:transparent; box-shadow:none;}
}


// changes as display area widens

// up to 640px screen
@media (min-width:481px) {
  section{padding-left:1em; padding-right:1em;}
}

// up to 1024px screen
@media (min-width:641px) {
  section{float:left; margin-right:0.5em; border-bottom-right-radius:0.25em;}
  section + section{margin-top:0.5em;}
}
