/* clear default formatting */
a img{border:0px none;}

/* font */
body,p,li,td,th{font-family:"Lucida Grande",Helvetica,Verdana,sans-serif;}
#headertitle,#maintitle,#subtitle,#navmenu > li,h1,h2,h3,h4,h5,h6{font-family:Ubuntu,"Myriad Pro",Myriad,"Officina Serif ITC",Helvetica,sans-serif;}
h1{font-size:1.8em;}
h2{font-size:1.8em;}
h3{font-size:1.15em;}
h4{font-size:1.05em;}

/* spacing */
*{margin-top:0em; margin-bottom:0em;}
body{margin:0em; padding:0em;}
h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0em;}
*+*{margin-top:0.75em;}
*+ul{margin-top:0.2em;}
*+li{margin-top:0.2em;}
h1 + *{margin-top:0.75em;}
* + p,* + h1,* + h2,* + h3,* + h4,* + h5,* + h6{margin-top:1em;}
p,li,td,th{line-height:1.4em;}
ul{padding-left:2em;}
header,nav{margin:0em; padding:0em;}
textarea{width:98%;}

/* tables */
table, tr, th, td{border-spacing:0em;}
table.full{width:100%;}
th, td{padding:0.2em 0.4em; vertical-align:top;}
th{text-align:left;}
thead > tr > th{text-align:center;}
thead, thead > tr, tr.heading > th{background:#999; color:white; text-shadow:0em 0em 0.2em black;}
tr.heading > th{font-size:110%; text-align:left !important;}
tbody > tr > th:first-child{text-align:right;}
tbody > tr:nth-child(odd){background:#EEE; color:black;}
tbody > tr:nth-child(even){background:#DDD; color:black;}
table table tbody > tr:nth-child(odd), table table tbody > tr:nth-child(even){background:transparent;}
tfoot, tfoot > tr{background:#CCC; color:black;}
td, th{
  background:-webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.2)), color-stop(0.1, rgba(255,255,255,0)), color-stop(0.9, rgba(0,0,0,0)), to(rgba(0,0,0,0.01)));
  background:-moz-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.01));
  background:linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.01));
}
td > table, th > table{width:100%;}

/* elements */
.button, .nowrap{white-space:nowrap;}
.hidden{display:none;}
.separator{display:none;}

/* columns
	TODO: This needs to be redone to use em measurements instead of px
	TODO: This needs to be redone to mobile-first format (instead of widescreen-first)
*/
.simplecols2{-moz-column-count:2; -webkit-column-count:2; column-count:2;}
.closeblock{clear:both; height:1px;}
.columns, #content > .columns{margin:0em auto 0em 0em; border-collapse:collapse; border-spacing:0em;}
.cols2, #content > .cols2, .featureblock > .cols2{max-width:1024px;}
.cols3, #content > .cols3, .featureblock > .cols3{max-width:1536px;}
.cols4, #content > .cols4, .featureblock > .cols4{max-width:2048px;}
h1 + .columns{clear:right;}
.columns > .column{float:left; min-width:8em;/*128px*/ max-width:30em;/*512px - 2em for padding*/}
.cols2 > .column{max-width:47.5%;}
.cols3 > .column{max-width:30.3%;}
.cols4 > .column{max-width:22.5%;}
.column{margin-top:0.625em; padding-right:1em; border-right:thin dotted gray; border-collapse:collapse; border-spacing:0em;}
.column + .column{padding-left:0.9375em;}
.lastcol{padding-right:0em; border-right:0em none;}
@media all and (max-width:62.9375em/*1007px*/) {
/* reduce column width to not bump onto next line */
.cols4 > .column{max-width:22%;}
}
@media all and (max-width:56.25em/*900px*/) {
/* switch to 2-column when not enough room for 4 */
.cols4 > .column{max-width:47.5%;}
.cols4 > .col2{padding-right:0em; border-right:0em none;}
.cols4 > .col3{clear:left; padding-left:0em;}
}
@media all and (max-width:50.5em/*808px*/) {
/* switch to 2-column when not enough room for 3 */
.cols3 > .column{max-width:47.5%;}
.cols3 > .col2{padding-right:0em; border-right:0em none;}
.cols3 > .col3{clear:left; padding-left:0em; padding-right:1em; border-right:thin dotted gray;}
}
@media all and (max-width:43.125em/*690px*/) {
/* reduce column width to not bump onto next line */
.column, .cols2 > .column, .cols3 > .column, .cols4 > .column{max-width:45%;}
}
@media all and (max-width:32em/*512px*/) {
/* switch to single column when not enough room for 2 */
.column, .cols2 > .column, .column, .cols3 > .column, .column, .cols4 > .column{float:none; padding:0em; border-right:0em none; max-width:none;}
}

.preview{background:white; color:black; border:thin solid #999; max-height:18em; overflow:auto; padding:1.2em;}

/* header */
#logo{float:left; margin:0em 0.33em 0em 0em; max-height:1.25em;}
#maintitle{line-height:0.808em; text-transform:uppercase;}
#subtitle{font-size:1.1875em; line-height:0.947em; margin:0em;}

#flash > * + *{margin-top:1em;}
#flash > p{text-indent:0em;}

#main{clear:both; margin:0em; padding:0em;}
#main.single{background:white; color:black; padding:0em 0em 1.25em;}
#main > *{margin-left:1.25em; margin-right:1.25em; max-width:61.5em;/*984px*/}
#main > .columns{margin-left:1.25em;}
#main > *:first-child{padding-top:1.25em;}
#main > h1, #main > h1:first-child{max-width:35.1429em; margin-left:0.7143em; margin-right:0.7143em; padding-top:0.66em;}
#main > * + h1{padding-top:0.25em; border-top:thin dotted rgba(0,0,0,0.2);}
#main > h2{max-width:41em; margin-left:0.8333em; margin-right:0.8333em;}
#main > h3{max-width:49.2em; margin-left:1em; margin-right:1em;}
#main > p{max-width:68.3333em; margin-left:1.3889em; margin-right:1.3889em;}
#main > .contentchunk, .contentchunk{background:white; color:black; margin:1em 0em; padding:0.5em 1em; max-width:43em;}
#main > .contentchunk > .heading:first-child, .contentchunk > .heading:first-child{margin:-0.5em -1em; padding:0.5em 1em;}

.calendar{}
.calendar > h3{border-top:1px dashed black; padding-top:0.5em;}
.vevent{margin:0.25em 0em 0em 1em; max-width:40em;}
.vevent + .vevent{border-top:1px dotted grey; margin-top:0.5em; padding-top:0.25em;}
.vevent h4 + *{margin-top:0em;}

#main > .more, .more{float:left; margin:1em; padding:0.5em 1em;}
#main > .more h2, .more h2, #main > .more ul, .more ul{display:inline;}

#footer{clear:both; font-size:0.8em; margin:0em; padding:1em 4em;}

/* changes as display area widens */
@media all and (min-width: 401px) {
h3{font-size:1.4em;}
}
@media all and (min-width: 421px) {
#main > .contentchunk, .contentchunk{margin-left:1em; margin-right:1em;}
}
@media all and (min-width: 588px) {
#header h1{font-size:3em;}
}
@media all and (min-width: 641px) {
#main > .contentchunk, .contentchunk{float:left;}
#main > .more h2, #main > .more ul, #main > .more li, .more h2, .more ul, .more li{display:block;}
}
