<% # encoding: utf-8
# requires ‘item’ be an object that has an errors method that works like ActiveRecord.

if item.errors.any?
  heading ||= "#{pluralize(item.errors.count, "error")} prevented this #{item.class.name} from being saved:"
  %><div class="error_messages">
<h2><%= heading %></h2>
<ul>
<%  item.errors.full_messages.each do |message|
      %><li><%= message %></li>
<%  end
  %></ul>
</div>
<% end -%>
